
<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
            <div>
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hwb(240 7% 93%); text-align: center; font-size: 40px; " >
                    <span style="color: rgb(240, 128, 94);">Welcome To <br> Sohar University Registration </span> <br />
                     
                    </h1>
                    <h4 style="color: rgb(94, 86, 86) ; text-align: center;">
                        Sohar University is one of the largest praivt  <br>
                        University in Oamn .  
                    </h4> &nbsp;
                    
                    <p class="mb-4 opacity-70" style="color: hsl(0, 5%, 4%); text-align: center;">
                       The University's  Students Registration  <br>
                       System contains many services  
                  
                      </p>
                  </div>
            </div>
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="assets\college-students-concept-illustration_114360-10205.avif"
            alt="Login image"  style=" object-position: left; width:700px; height: 600px;">
        </div>
      </div>
    </div>
  </section>

