
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <div class="container-fluid">
  
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
     <h1 style=" color:rgb(40, 96, 173);;">SOHAR UNIVERSITY</h1> &nbsp;&nbsp;
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
        <li class="nav-item">
          <a class="nav-link"  data-section="login" routerLink="add">AddStudent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#"    routerLink="update">UpdateStudent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="list">ListStudent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="register">Register</a>
        </li>
      </ul>

    </div>


   
    <div class="d-flex align-items-center">
  
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

     
  
      
      </div>
    </div>
    
</nav>



<router-outlet></router-outlet>